.btn {
    display: flex;
    padding: 1.6rem 3.2rem;
    gap: 8px;
    width: fit-content;
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.072rem;
    transition: all 0.3s;
    cursor: pointer;
    align-items: center;
}

.extended {
    width: 100%;
    justify-content: center;
}

.purple {
    background-color: var(--purple);
    color: var(--white);
}

.purple:hover {
    background-color: var(--purple-light);
}

.cyan {
    background-color: var(--cyan-alt);
    color: var(--white);
}

.cyan:hover {
    background-color: var(--cyan-dark);
}

.blue {
    background-color: var(--blue);
    color: var(--white);
}

.blue:hover {
    background-color: var(--blue-light);
}

.red {
    background-color: var(--red);
    color: var(--white);
}

.red:hover {
    background-color: var(--red-dark);
}

.img {
    width: 2.4rem;
}

.btn:hover img {
    transform: translateX(0.3rem);
    transition: transform 0.5s;
}

.btn img {
    transition: transform 0.5s;
}