.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 100%;
    height: 100vh;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 2rem;
    padding: 0rem 2rem;
    overflow-y: auto;
}

.header {
    width: 100%;
    row-gap: 1rem;
    padding: 0rem 3rem;
    font-weight: 600;
}

.item {
    display: flex;
    column-gap: 0.8rem;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: 500;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.work {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.options {
    display: flex;
    column-gap: 0.8rem;
}

.icon {
    padding: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--gray-secondary);
    border-radius: 50%;
    color: var(--text-default);
}

.song {
    font-weight: 600;
}

.composer {
    font-weight: 500;
    color: var(--text-default);
}